<style>
img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}
.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 40em
}
</style>
<div class="blocktext">
  <hr/>
{{#each items}}
  Deed Id: <a href="/items?deedid={{this.id}}">{{this.id}}</a>
  <p>
  Manufacturer: {{this.manufacturer}}
  <p>
  SerialNumber: {{this.serialNumber}}
  <p>
  Owner: <a href="https://etherscan.io/address/{{this.owner}}">{{this.owner}}</a>
  <p>
  Proof Of Ownership
  <p>
  <a href="/items?deedid={{this.id}}">
    <img src={{this.itemUrl}} alt="{{this.name}}"/>
  </a>
  <p>
  IPFS Hash: <a href="{{this.itemUrl}}">{{this.ipfsHash}}</a>
  <p>
  Date Created: {{this.dateCreated}}
  <p>
  <hr/>
{{else}}
  <p class="empty">No Items!!!</p>
{{/each}}
</div>
